<!--検索対象モデルがUserの時 -->
<% if @range == "User" %>
<h2><%=@range %> search for "<%=@word %>"</h2>
<%= render 'users/index', users: @users %>

<!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
<% else %>
  <h2><%=@range%> search for "<%=@word %>"</h2>
  <%= render 'books/index', books: @books %>
<% end %>
